

.border-dotted {
    border-style: dashed;
}

.pos-container {
    display: grid;
    gap: 0px 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, minmax(0px, auto));
}

.pos-container .item1 {
    grid-column: 1/13;
    grid-row: 1/1;
}

.pos-container .item2 {
    grid-column: 10/13;
    grid-row: 2/25;
}

.pos-container .item3 {
    grid-column: 1/10;
    grid-row: 2/25;
    display: flex; /* Add display flex */
    flex-direction: column; /* Flex direction column */
}

.pos-container .item3 .overflow-auto {
    flex-grow: 1; /* Allow this div to take remaining vertical space */
    overflow: auto;
}

.pos-container .item4 {
    grid-column: 1/10;
    grid-row: 20/25;
}

/* 
 
.pos-container .item3{
    grid-column: 1/18;
}
 */
 @media screen and (min-height: 600px) {
    .pos-container .item3 .t-container{
        height: 330px !important;
    }
}
 @media screen and (min-height: 800px) {
    .pos-container .item3 .t-container{
       
        height: 500px !important;
    }
}
